<!-- Navbar (Consistent across all pages) -->
<nav>
    <div class="nav-logo">
        <img src="/assets/app-logo-2.png" alt="WADsUP Logo">
        <a href="/">WADsUP</a>
    </div>

    <div class="nav-tagline">Your Daily KetchUp</div>

    <!-- If user is not logged in, display register / login buttons -->
    <% if (!user_id){ %>
        <div>
            <a href="/login" class="nav-btn">Log-in</a>
            <a href="/register" class="nav-btn">Register</a>
        </div>
    <% } else { %>
        <!-- user is logged in, display logout /profile button -->
        <div>
            <a href="/logout" class="nav-btn">LogOut</a>
            <a href="/profile" class="nav-btn">Profile</a>
        </div>
    <% } %>
</nav>
<hr>
