<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WADsUp</title>
    <link rel="icon" type="image/png" href="/assets/app-logo-2.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet">
    <!-- <link rel="stylesheet" href="/css/style.css"> -->
</head>
<body>
    <!-- Navbar -->

    <!-- Main Content -->
    <section class="main-content">
        <form action="/login" method="post">
            <h1>Login</h1>
            <strong><%- loginMsg %></strong>
            <p>
                <strong>Username/Email</strong><br>
                <input type="text" name="loginCred" value="<%= loginCred %>" required>
            </p>
            <p>
                <strong>Password</strong><br>
                <input type="password" name="password" required>
            </p>
            <input type="submit" value="Log in">
        </form>
        <p style="font-size:small"><a href="/forgetPass">FORGET PASSWORD</a></p>
        <p>Don't have an account yet? Register <a href="/register">here.</a></p>
    </section>
</body>
</html>